body {
    background: #F5F5F5;
    ;
}

a{
    text-decoration: none;
    color: #464646;
}


.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.menu-navegacion {
    display: flex;
}


.categoria-menu-navegacion {
    margin: 0 0 0 20px;
}

.headerPrincipal .container h1 {
    font-family: 'Raleway';
    font-style: normal;
    color: #464646;
    font-weight: bold;
    font-size: 30px;
}

.categoria-menu-navegacion {

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Raleway';
    font-style: normal;
    color: #464646;
    font-weight: bold;
    text-decoration: none;
}

.categoria-menu-navegacion:hover {

    color: blueviolet;
    text-decoration: underline;
    transform: scale(1.1);
}


.contenidoPrincipal .container {
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contactos {

    display: flex;
    text-decoration: none;
}

.item-contacto {
    margin-right: 20px;

}

.contenidoPrincipal .container h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #464646;
}

.contenidoPrincipal .container p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    /* Preto/100% */
    color: #464646;


    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.item-contacto {
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.item-contacto:hover{
    transform: scale(1.1);
}
